@color-guide-border: #111;
@color-normal-border: #888;

.userSelectNone {
	-webkit-user-select: none;
	user-select: none;
}

html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family:InputMono;
	text-align: center;
	height: 100%;
	margin: 0;
	font-size: 0; // To prevent whitespace from appearing at the bottom of the page, causing scrolling
	cursor: default;
}

@font-face {
	font-family: "InputMono";
	src: url("../Retro Computer.ttf");
}

.appPreloader {
	font-size: 12px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 1em;
	padding-left: 24px;
	background-image: url("../images/preloader.gif");
	background-size: 16px 16px;
	background-position: left center;
	background-repeat: no-repeat;
}

@media 
(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { 
    /* Retina-specific stuff here */
	.appPreloader {
		background-image: url("../images/preloader@2x.gif");
	}
}

button {
	border: none;
	background-color: white;
	cursor: pointer;
	font: inherit;
}

button.inactive {
	color: #999;
}

.playArea {
	display: inline-block;
	text-align: initial;
	position: absolute;
	cursor: default;
	background-color: ~"rgba(255, 255, 255, .9)";
	padding: 1em;
	font-size: initial;
	.userSelectNone;
}

.playArea .statusArea {
	width: 100px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 1em;
}

.playArea .playAreaMenu {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

.playArea .playAreaMenu li {
	cursor: pointer;
}

table.board {
	table-layout: fixed;
	text-align: center;
	vertical-align: middle;
	font-family: InputMono;
	font-size: 10px;
	border-spacing: 1px;
    border-collapse: collapse;
	cursor: default;
	display: inline-block;
	.userSelectNone;
}

table.board td {
	width: 1.5em;
	height: 1.5em;
	border: none;
}

table.board .pictureCell {
	cursor: pointer;
	border: 1px solid @color-normal-border;
}

table.board td.pictureCell:nth-last-child(5n+1) {
	border-right: 1px double @color-guide-border;
}

table.board td.pictureCell:nth-last-child(1) {
	border-right: 1px solid @color-normal-border;
}

table.board tr:nth-last-child(5n+1) td.pictureCell {
	border-bottom: 1px double @color-guide-border;
}

table.board tr:nth-last-child(1) td.pictureCell {
	border-bottom: 1px solid @color-normal-border;
}

.beginSelect {
	background-color: #333;
}

.endSelect {
	background-color: #333;
}

.betweenSelect {
	background-color: #666;
}

table.board td.marked {
	background-color: #333;
}

/*
Flag Icon made by Bogdan Rosu (http://www.flaticon.com/authors/google),
licensed under Creative Commons BY 3.0 (http://creativecommons.org/licenses/by/3.0/)
*/
table.board td.flagged {
	background-image: url("../images/flag.svg");
	background-size: calc(~"1.5em - 4px") calc(~"1.5em - 4px");
	background-repeat: no-repeat;
	background-position: center center;
}

canvas {
	image-rendering: pixelated;
}

#MainMenu {
	width: 300px;
	position: absolute;
	font-size: initial;
}

#MainMenu h1 {
	text-align: center;
}

#MainMenu ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

#MainMenu ul li {
	padding: .5em 0;
	cursor: pointer;
}

.timer {
	display: block;
	margin-bottom: 1em;
}

.timerAnimate {
	transition: color 1.5s ease-in;
}

.stock {
	margin-bottom: 1em;
}

.preview {
	height: 60px;
	width: 60px;
}

.cellPenaltyAnimationText {
	color: red;
	display: inline-block;
	position: absolute;
	z-index: 3;
	opacity: 1;
	transition: opacity 1.5s ease-out,  top 1.5s ease-out;
	font-size: initial;
}

.cellPenaltyAnimationImage {
	position: absolute;
	height: 16px;
	width: 16px;
	z-index: 3;
	opacity: 1;
	transition: opacity 1.5s ease-out,  top 1.5s ease-out;
}

.sharePrompt {
	background-color: white;
	width: 400px;
	height: 150px;
	border: 1px solid lightgray;
	position: absolute;
	z-index: 2;
	font-size: 12px;
	.userSelectNone;
}

.sharePrompt .whatToShareContainer {
	margin: 1em 0;
}

.sharePrompt .whatToShareCheckboxContainer {
	cursor: pointer;
}

.sharePrompt .whatToShareContainer .whatToShareCheckboxContainer:nth-child(1) {
	margin-right: 1em;
}

.sharePrompt input[type="text"] {
	width: 90%;
}

.sharePrompt input[type="radio"] {
	display: none;
}

/* "Checked" Icon made by OCHA (http://www.unocha.org) licensed under
Creative Commons BY 3.0 http://creativecommons.org/licenses/by/3.0/ */

.sharePrompt input[type="radio"] + label {
	background-image: url("../images/unchecked.svg");
	background-size: 1em 1em;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 1.3em;
}

.sharePrompt input[type="radio"]:checked + label {
	background-image: url("../images/checked.svg");
}

img.shareButton {
	height: 48px;
	width: 48px;
	margin: 1.5em 2em 0 0;
	cursor: pointer;
}

.pausePrompt {
	background-color: white;
	width: 400px;
	height: 150px;
	border: 1px solid lightgray;
	position: absolute;
	z-index: 2;
	font-size: initial;
	.userSelectNone;
}

.pausePrompt .instructions {
	font-size: .7em;
}

.winScreen {
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: opacity 2s linear;	
}

.winArea {
	width: 400px;
	height: 400px;
	position: absolute;
	font-size: initial;
	background-color: white;
	.userSelectNone;
}

.winArea canvas {
	height: 240px;
	width: 240px;
	position: relative;
}

.winArea canvas.animate {
	animation: 4s winAreaCanvasAnimate ease-in forwards;
}

@keyframes winAreaCanvasAnimate {
	0% {
		left: 700px;
		transform: rotate(0);
	}
	
	55% {
		left: -5px;
		transform: rotate(0);
	}
	
	60% {
		left: 0;
		transform: rotate(0);
		animation-timing-function: ease-in;
	}
	
	// "Wind up" for the rotation
	80% {
		left: 0;
		transform: rotate(-10deg);
		animation-timing-function: ease-in-out;
	}
	
	95% {
		left: 0;
		transform: rotate(360deg * 2 + 10deg);
		animation-timing-function: ease-out;
	}
	
	// Overrotate a bit	
	100% {
		transform: rotate(360deg * 2);
		left: 0;
	}
}

.winArea .puzzleTitle {
	margin-bottom: 4em;
}

.winArea .completeMessage {
	position: relative;
}

.winArea .completeMessage.animate {
	animation: 1.5s completeMessageSlideUp forwards;
}

@keyframes completeMessageSlideUp {
	0% {
		top: 100px;
		animation-timing-function: ease-in;
	}
	
	80% {
		top: -5px;
		animation-timing-function: ease-out;
	}
	
	100% {
		top: 0;
	}
}

.winArea .clickAnywhereMessage {
	font-size: .75em;	
}

.loseScreen {
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: opacity 2s linear;	
}

.loseArea {
	width: 400px;
	height: 400px;
	position: absolute;
	font-size: initial;
	background-color: white;
	.userSelectNone;
}

.loseArea .timeUpMessage {
	margin-bottom: 2em;
}

.loseArea .clickAnywhereMessage {
	font-size: .75em;	
}

.puzzleChooser {
	background-color: white;
	width: 344px;
	height: 80%;
	border: 1px solid lightgray;
	position: absolute;
	z-index: 2;
	font-size: initial;
	overflow: auto;
	.userSelectNone;
}

.puzzleChooserButtonContainer {
	height: 2em;
}

.puzzleChooserButtonContainer button {
	font-size: 10px;
	padding: 8px;
	outline: none;
}

.puzzleChooserPuzzleList {
	height: calc(~"100% - 2em");
}

.puzzleChooserPuzzleList.puzzleChooserGrid ul {
	margin: 0;
	padding: 0;
}

/*
Flag Icon made by Freepik (http://www.freepik.com),
licensed under Creative Commons BY 3.0 (http://creativecommons.org/licenses/by/3.0/)
*/
.puzzleChooserPuzzleList.puzzleChooserGrid ul li {
	display: block;
	float: left;
	position: relative;
	margin-left: 4px;
	margin-bottom: 4px;
	height: 30px;
	width: 30px;
	background-image: url('../images/unsolvedpuzzlepreview.svg');
	background-size: 20px 20px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.puzzleChooserPuzzleList.puzzleChooserGrid ul li .videoIcon {
	background-color: red;
	height: 12px;
	width: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 6px;
	background-image: url("../images/video.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 8px 8px;
}

.puzzleChooserPuzzleList.puzzleChooserGrid ul li .solvedIcon {
	height: 12px;
	width: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 6px;
	background-image: url("../images/solved.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 12px 12px;
}

.puzzleChooserPuzzleList.puzzleChooserGrid ul li:hover {
	background-size: 22px 22px;
}

.puzzleChooserPuzzleList.puzzleChooserGrid ul li.solved {
	background-image: none;
}

.puzzleChooserPuzzleList.puzzleChooserGrid ul li.solved canvas {
	height: 30px;
	width: 30px;
}

.clearOverlay {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	.userSelectNone;
}

.blurred {
	-webkit-filter: blur(2px) grayscale(50%) brightness(70%);
	filter: blur(2px) grayscale(50%) brightness(70%);
}

.markModeSwitchContainer {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 1em;
	margin-bottom: 1em;
}

.markModeSwitchContainer > label {
	cursor: pointer;
}
