@color-guide-border: #222;
@color-normal-border: #ccc;

.userSelectNone {
	-webkit-user-select: none;
	user-select: none;
}

body {
	font-family:sans-serif;
	
}

@font-face {
	font-family: "InputMono";
	src: url("../Retro Computer.ttf");
}

table {
	table-layout: fixed;
	text-align: center;
	vertical-align: middle;
	font-family: InputMono;
	font-size: 10px;
	border-spacing: 1px;
    border-collapse: collapse;
	margin: auto;
	.userSelectNone;
}

table td {
	width: 1.5em;
	height: 1.5em;
	border: none;
}

.pictureCell {
	cursor: pointer;
	border: 1px solid @color-normal-border;
}

td.pictureCell:nth-last-child(5n+1) {
	border-right: 1px solid @color-guide-border;
}

td.pictureCell:nth-last-child(1) {
	border-right: 1px solid @color-normal-border;
}

tr:nth-last-child(5n+1) td.pictureCell {
	border-bottom: 1px solid @color-guide-border;
}

tr:nth-last-child(1) td.pictureCell {
	border-bottom: 1px solid @color-normal-border;
}

canvas {
	image-rendering: pixelated;
}